{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="text-light">О проекте</h1>
  <div class="card bg-dark text-light mb-4">
    <div class="card-body">
      <h5 class="card-title">Добро пожаловать в Менеджер задач!</h5>
      <p class="card-text">
        Этот проект представляет собой простое и удобное приложение для
        управления пользователями и задачами. Мы стремимся предоставить
        пользователям интуитивно понятный интерфейс для создания, редактирования
        и удаления учетных записей, а также эффективного управления задачами.
      </p>
      <p class="card-text">
        Приложение разработано с использованием современных технологий, включая
        Django и Bootstrap, чтобы обеспечить надежность и эстетичный дизайн.
        Наша цель — упростить процесс организации работы и сделать его доступным
        для всех.
      </p>
    </div>
  </div>
  <div class="card bg-dark text-light">
    <div class="card-body">
      <h5 class="card-title">Наши планы</h5>
      <p class="card-text">
        В ближайшем будущем мы планируем добавить функционал для управления
        задачами, включая создание, назначение и отслеживание их статуса. Также
        в планах улучшение интерфейса и добавление дополнительных возможностей
        для пользователей.
      </p>
      <p class="card-text">
        Если у вас есть идеи или предложения, мы будем рады услышать их!
        Свяжитесь с нами через обратную связь (в разработке).
      </p>
    </div>
  </div>
</div>
{% endblock %}
